[Unit]
Description=Unchain AIAW Service Container
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/python /var/docker-service/unchain-aiaw/app/main.py
Restart=always

[Install]
WantedBy=multi-user.target